*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.calculator{
    display: flex;
    justify-content: center;;
}
.main-box {
    margin: 2em;
    height: 500px;
    width: 400px;
    border-radius: 0.5em;
    background-color: red;
}
.screen{
    background-color: red ;
}